/* Site background color */
body { background-color: #ffffff; color: #f05beb; }

/* Lists */
ul,
li,
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  color: #f05beb;
}

/* Site titles */
h1, h2 { color: #ebef33; }

/* Main content area links */
#main-content a:link,
#main-content a:visited,
#main-content a:hover,
#main-content a:focus,
#main-content a:active { color: #ff001a; }

/* Main menu links */
#site-menu ul li a { color: #000000; }

/* Main menu active links */
#site-menu ul li.active-trail a,
#site-menu ul li a.active { background: #1fe930; color: #2c46ec; }
